body {
	background-color: #666;
	margin: 0px;
	/*font-family: 'Josefin Sans', Arial, sans-serif;*/
	font-family: 'Nunito Sans', sans-serif;
}

h1 {
	margin: 0;
	font: normal 80px 'Nunito Sans', Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	color: #fff;
	display: inline-block;
	margin-bottom: 0px;
}

h3 {
	font-style: normal;
	font-size: 21px;
	margin-top: 0px;
}

p {
	font-size: 18px;
	font-style: normal;
}

a {
	text-decoration: none;
}

div {
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main {
	width: 100%;
	height: 100%;
}

.line {
	width: 100%;
	background-color: #fff;
	height: 1px;
	margin: 10px 0 10px 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*
Nav
*/
.main .nav {
	width: 100%;
	height: 10vh;
	margin: 0;
}

.main .nav ul {
	margin: 0 30px 0 0;
	padding: 30px 0 0 0;
	float: right;
	text-align: right;
}

.main .nav li {
	list-style: none;
	padding: 5px 20px 5px 20px;
	font-size: 5vh;
	color: #fff;
	cursor: pointer;
    box-shadow: inset 0 0 0 0 #000;
	-webkit-transition: ease 0.3s;
	-moz-transition: ease 0.3s;
	transition: ease 0.3s;
}

.main .nav li a {
	color: #fff;
}

.main .nav li:hover {
	box-shadow: inset 200px 0 0 0 #000;
}


/*
Header 
*/
.main .header {
	width: 100%;
	height: 90vh;
	background-color: #ffc000;
	background-image:url('../imgs/img-header-bg.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-position: center bottom;
}


/*
Content 
*/
.main .content {
	width: 100%;
}

/*
Work
*/
#work {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

#work .project {
	width: 33.33%;
	height: 350px;
	margin: 0;
	padding: 0;
	background-color: #eee;
	display: inline-block;
	float: left;
}

#work .tregs-log {
	position: relative;
	background-color: #fff;
	text-align: center;
}

#work .strength-coach {
	position: relative;
	background-color: #ccc;
	text-align: center;
}

#work .graphic-nature {
	position: relative;
	background-color: #000;
	text-align: center;
}

#work .project img {
	max-width: 50%;
	max-height: 50%;
	vertical-align: middle;
}

.tregs-log:after {
	content: '';
    position: absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.75);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.tregs-log:hover:after {
    opacity:1;
}

.strength-coach:after {
	content: '';
    position: absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.75);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.strength-coach:hover:after {
    opacity:1;
}

.graphic-nature:after {
	content: '';
    position: absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(255,255,255,0.5);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.graphic-nature:hover:after {
    opacity:1;
}

/*
About
*/
#about {
	height: 50vh;
	margin: 0;
	padding: 20% 20% 20px 20%;
	background-color: #000;
	color: #ffc000;
	letter-spacing: 8px;
	text-align: center;
	background-image: url('../imgs/img-about-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

/*
Contact
*/
#contact {
	height: 100%;
	width: 100%;
	background-color: #111;
	padding: 0 0 40px 0;

}

#contact .contact-container{
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

#contact .contact-container .form-container {
	margin: 20px 0 0 0;
	padding: 0;
	height: 100%;
	width: 100%;
	text-align: left;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/*side panel*/
#slideout {
	padding: 20px;
  	background: #000;
  	box-shadow: 0 0 5px rgba(0,0,0,.3);
  	color: #eee;
  	position: fixed;
  	left: -35vw;
  	width: 30vw;
  	height: 100vh;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	z-index: 100;
}

#slideout.on {
	left: 0;
}

#slideout .close {
	cursor: pointer;
}

#overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,.5);
	z-index: 50;
	display: none;
}